<div class="split-screen-container">
  <div class="split-screen-section left-section">
    <mat-card class="filter-card">
      <mat-card-header>
        <mat-card-title>Meteorological Brief</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="requestsForm">
          <div class="filter-field">
            <p>Message Types:</p>
            <div class="checkbox-container">
              <mat-checkbox formControlName="metar">METAR</mat-checkbox>
              <mat-checkbox formControlName="sigmet">SIGMET</mat-checkbox>
              <mat-checkbox formControlName="taf">TAF</mat-checkbox>
            </div>
            @if (requestsForm.hasError('noTypeSelected') && (requestsForm.dirty)){
            <mat-error>
              At least one message type is required
            </mat-error>
            }
          </div>

          <div class="filter-field">
            <p>Airports:</p>
            <mat-form-field appearance="outline" class="full-width">
              <input matInput placeholder="Enter airports codes" formControlName="stations">
              @if(requestsForm.get('stations')?.hasError('invalidCodeList')){
              <mat-error>
                  Please enter only 4-character uppercase airport codes separated by spaces.
              </mat-error>
                }
            </mat-form-field>
          </div>

          <div class="filter-field">
            <p>Countries:</p>
            <mat-form-field appearance="outline" class="full-width">
              <input matInput placeholder="Enter countries codes" formControlName="countries">
              @if(requestsForm.get('countries')?.hasError('invalidCodeList')){
                <mat-error>
                  Please enter only 2-character uppercase country codes separated by spaces
                </mat-error>
              }
            </mat-form-field>
          </div>

          <div class="filter-field">
            @if (requestsForm.hasError('noLocationSelected') && requestsForm.dirty){
              <mat-error>
                You must enter at least one country or one airport.
              </mat-error>
            }
          </div>

          <div class="action-button">
            <button mat-raised-button color="primary"
                    (click)="createBriefing()"
                    [disabled]="!requestsForm.valid" >
              Create Briefing
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="split-screen-section right-section">
    <mat-card class="content-card">
      <mat-card-header>
        <mat-card-title>Weather Data</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-weather-table [weatherDataInput]="groupedWeatherData"></app-weather-table>
      </mat-card-content>
    </mat-card>
  </div>
</div>
